<div class="navbar">
        
    <div class="navbar-item">
        <a href="/dashboard/estimate">Estimate</a>
    </div>
    <div class="navbar-item">
        <a href="/dashboard/invoice">Invoice</a>
    </div>
    <div class="navbar-item">
        <a href="/dashboard/products">Products</a>
    </div>
</div>

