.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    


}


#username_i, #password_i, #submit{
    margin: 5px;
}

.navbar{

    width: 150px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: solid 1px;


}
.navbar-items{
    width: 100%;
    height: 50px;
    
}

.main{
    display: flex;
    flex-direction: row;
}

.main-cont{
    display: flex;
    flex-direction: row;


}

.calculator{
    width: 50%;
    align-items: center;
    justify-content: left;
}

.items-list{
    width: 50%;
}ss
.frame{
    width: 100%;
}